version: '3'
services:
  postgres:
    container_name: db
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    image: library/postgres:latest
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}/tcp
  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - postgres
  flyway:
    container_name: db-migration
    environment:
      - FLYWAY_USER=${POSTGRES_USER}
      - FLYWAY_PASSWORD=${POSTGRES_PASSWORD}
      - FLYWAY_URL=jdbc:postgresql://postgres:${POSTGRES_PORT}/${POSTGRES_DB}
      - FLYWAY_SCHEMAS=flyway
      - FLYWAY_GROUP=true
      - FLYWAY_EDITION=${FLYWAY_EDITION}
    image: flyway/flyway:latest
    command: -locations=filesystem:/flyway/sql -connectRetries=60 migrate
    volumes:
      - .:/flyway/sql
    depends_on:
      - postgres
  app:
    container_name: app
    env_file:
      - .env
    environment:
      WAIT_HOSTS: postgres:5432
    build:
      context: DownloadCsvOverHttp
    links:
      - postgres
    depends_on:
      - flyway
